version: "3.9"
services:
  api_service:
    build: .
    container_name: spring_api
    restart: always
    ports:
      - 8080:8080
    networks:
      - springapimysql-net
    environment:
      - spring.datasource.url=jdbc:mysql://mysqldb:3306/CashCardDB
    depends_on:
      mysqldb:
        condition: service_healthy


    volumes:
      - .m2:/root/.m2

  mysqldb:
    container_name: api_mysql
    image: "mysql:8.0"
    restart: always
    ports:
      - 3307:3306
    networks:
      - springapimysql-net
    environment:
      MYSQL_DATABASE: CashCardDB
      MYSQL_USER: root
      MYSQL_PASSWORD: rootroot
      MYSQL_ROOT_PASSWORD: rootroot

    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

    volumes:
      - /var/lib/mysql
networks:
  springapimysql-net: